NODE_ENV=development
PAYMENTS_SERVICE_APP_NAME=Payments Service
PAYMENTS_SERVICE_APP_PORT=5003
PAYMENTS_TCP_PORT=5004
STRIPE_SECRET_KEY=
NOTIFICATION_HOST=notification-service
NOTIFICATION_TCP_PORT=5008


