NODE_ENV=development
PAYMENTS_SERVICE_APP_NAME=Payments Service
PAYMENTS_SERVICE_APP_PORT=5003
PAYMENTS_TCP_PORT=5004
STRIPE_SECRET_KEY=sk_test_51TVvGNSiivrOYP3SLeo6D2FCNbKWWBb2y2osCQljl8Cog8eCHjJKEVPY8ilKuEzw1Tgiv0jj8s8RcimBDSLBcThu00cVpFt7Ky
