NODE_ENV=development
ORDERS_SERVICE_APP_NAME= Orders Service
ORDERS_SERVICE_APP_PORT=5005
ORDERS_TCP_PORT=5006
MONGODB_URI = mongodb://mongo:27017/ecommerce
AUTH_HOST=auth-service
AUTH_SERVICE_TCP_PORT=5002
PAYMENTS_HOST=payments-service
PAYMENTS_TCP_PORT=5004