NODE_ENV=development
NOTIFICATION_SERVICE_APP_NAME=Notification Service
NOTIFICATION_SERVICE_APP_PORT=5007
NOTIFICATION_TCP_PORT=5008

# Google
SMTP_USER=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REFRESH_TOKEN=
