NODE_ENV=development
AUTH_SERVICE_APP_PORT=5001
AUTH_SERVICE_APP_NAME=Auth Service
AUTH_SERVICE_TCP_PORT=5002
# MONGODB_URI = mongodb://localhost:27017/ecommerce
MONGODB_URI = mongodb://mongo:27017/ecommerce

JWT_SECRET=|-9p{]}D8z%4Tq{Y?^(5bn2SIOJal0gxQ$l1:(GuF>!
JWT_EXPIRES_IN=3600
#RabbitMQ (Optional)
RABBITMQ_URLS=amqp://root:secret@localhost:56725
#Kafka (Optional)
#KAFKA_BROKERS=localhost:9086
# 
