AUTH_SERVICE_APP_PORT=5001
AUTH_SERVICE_APP_NAME=Auth Service
MONGODB_URI = mongodb://localhost:27017/ecommerce
#RabbitMQ (Optional)
RABBITMQ_URLS=amqp://root:secret@localhost:56725
#Kafka (Optional)
#KAFKA_BROKERS=localhost:9086
# 
